@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --darkerBlue: #222831;
  --darkBlue: #31363f;
  --lightBlue: #76abae;
  --LightColour: #eeeeee;
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
}

.heading {
  background-color: var(--darkerBlue);
  padding: 25px;
}
.heading > h1 {
  color: var(--LightColour);
  text-align: center;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 12fr;
  background-color: var(--darkBlue);
}

.mainBoard {
  background-color: var(--LightColour);
}

.sidebar > * {
  margin-left: 15px;
}

.projectDiv {
  display: flex;
  transition: all 0.3s ease-in-out;
  width: 95%;
}

.projectDiv > svg {
  margin-right: 10px;
  scale: 0.8;
  transition: all 0.3s ease-in-out;
}

.projectDiv > svg:hover {
  transform: scale(1.2);
}

.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: lime;
}

#newProject,
#newTask,
#homeBtn {
  display: flex;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  height: max-content;
}

#newProject:hover,
#newTask:hover,
#homeBtn:hover {
  transform: scale(1.03);
}

.sidebar > div > p {
  color: var(--LightColour);
  font-size: 1vw;
  margin-left: 25px;
}

#projects {
  margin-top: 10px;

  color: var(--LightColour);
}

#projects > h2 {
  margin-bottom: 10px;
}

svg {
  width: 2vw;
  height: 2vw;
  fill: #eeeeee;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.836);
  padding: 100px;
  border-radius: 10px;
}

form > input {
  width: 200px;
  transition: transform 0.5s ease-in-out;
  border: none;
  border-bottom: 1px rgb(99, 99, 99) solid;
  height: 30px;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

form > label {
  margin: 10px;
}

form > button {
  margin: 2px;
}

.displayed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.notdisplayed {
  display: none;
}

.mainContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
}

.mainBoard {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--darkBlue);
  color: #eeeeee;
  height: min-content;
  margin: 20px 45px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: var(--darkerBlue);
}

.due {
  position: absolute;
  bottom: 10%;
}

.boardHeading {
  margin: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 2vw;
}

.card > button {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card > button:hover {
  transform: scale(1.1);
}

.info > h2 {
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: 600;
}

.info > p {
  color: #eeeeee;
  font-size: 1.1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project {
  font-size: 1.5vw;
  width: 95%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.projectDiv:hover {
  transform: scale(1.02);
  background-color: #222831;
}

#newProject {
  height: min-content;
}

.delete-project {
  border: none;
  background-color: var(--darkBlue);
}
